body {
    width: 100wh;
    height: 100%;
    margin: 0;
    background: linear-gradient(red, transparent), linear-gradient(to top left, lime, transparent), linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    text-align: center;
}

img {
    height: 100%;
}

p {
    text-align: center;
    color: white;
    font-size: 46px;
    text-transform: uppercase;
}

.space1 {}

.space2 {}

.space3 {}

.page {
    height: 100vh;
    position: relative;
}

.slideInUp {
    position: absolute;
    top: 20%;
    left: 60%;
    opacity: 0;
    transition: all 0.7s ease-out;
}

.text {
    position: absolute;
    bottom: 5%;
    left: 40%;
}